html{
    font-family:Roboto, Helvetica, arial, sans-serif;
    font-size:14px
}
body{
    background:#00C0ED;
    padding-top:156px
}
a,
a:hover{
    text-decoration:none
}
h1{
    font-size:28px;
    font-weight:700;
    line-height:26px;
    margin-bottom:16px
}
header{
    background:#00C0ED;
    position:fixed;
    top:0;
    z-index:999;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
header img.logo-scroll{
    display:none
}
header.scroll{
    background:rgba(255,255,255,.95);
    padding:10px 0;
    height:96px
}
header.scroll img.logo{
    display:none
}
header.scroll img.logo-scroll{
    display:block;
    height:80px
}
header.scroll nav>a, header.scroll nav>a:hover, header.scroll nav>a.activo{
    color:#000;
    font-size:14px;
}
header.scroll nav>a.boton{
    padding:0 20px;
}
header.scroll .container.menu{
    padding-top:0;
    margin-bottom:0
}
header.scroll .header-right{
    padding-top:18px
}
main{
    background:#00C0ED;
    padding-bottom:6rem;
    padding-top:3rem;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
main.scroll{
    background:#fff
}
.container.menu{
    
}
.header-logo,
.header-right{
    position:relative;
    color:white;
    float:left
}
.header-logo{
    width:20%
}
.header-logo img{
    max-width:170px
}
.header-right label{
    position:absolute;
    top:-3.7em;
    right:0;
    cursor:pointer
}
.header-right span{
    position:relative;
    width:2em;
    height:2em;
    background:rgba(255,255,255,.3);
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
.header-right span:hover{
    background:rgba(255,255,255,.6)
}
.header-right span:before,
.header-right span:after{
    content:'';
    position:absolute;
    width:2em;
    height:.5em;
    top:4px;
    left:0;
    background:black
}
.header-right span:after{
    top:14px
}
.header-right{
    width:80%;
    text-align:right;
    padding-top:25px
}
#open{
    display:none
}

nav>a,
.menu>a{
    position:relative;
    display:inline-block;
    font-size:15px;
    line-height:35px;
    padding:0;
    margin:0 2.5em;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    opacity:.6
}
nav>a:first-child,
.menu>a:first-child{
    margin-left:0
}
nav>a:last-child,
.menu>a:last-child{
    margin-right:0
}
nav>a:after,
.menu>a:after{
    position:absolute;
    right:0;
    content:'';
    height:3px;
    background:#ffbf2a;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    transition:all .5s linear;
    width:0;
    bottom:0;
    text-decoration:none
}
nav>a:hover,
nav>a.activo,
.menu>a:hover,
.menu>a.activo{
    opacity:1
}
nav>a:hover:after,
nav>a.activo:after,
.menu>a:hover:after,
.menu>a.activo:after{
    width:40px
}
nav>a.boton,
.menu>a.boton{
    background-color:#FFBE2A;
    font-weight:700;
    opacity:1;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    text-decoration:none;
    color:#fff;
    padding:0 30px;
    border-bottom:3px solid #E88D1A
}
nav>a.boton:hover:after,
.menu>a.boton:hover:after{
    width:0
}
nav>a,
nav>a:hover,
nav>a.activo{
    color:#fff
}
.menu{
    padding-bottom:20px;
    padding-top:20px
}
.menu>a,
.menu>a:hover,
.menu>a.activo{
    color:#000
}
.hidden-desktop{
    display:none
}
.contenedor-formulario{
    background-color:#41D0F2;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:40px
}
.contenedor-formulario .bandera{
    margin-bottom:12px;
    width:24px
}
.contenedor-menu{
    background-color:#fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:40px 0
}
.contenedor-proyectos,
.contenedor-conocenos{
    background-color:#F7F5F6;
    padding-bottom:2rem;
    padding-top:8rem
}
.contenedor-conocenos h3{
    font-weight:400;
    margin-top:50px
}
.contenedor-conocenos p img.logo-asociacion{
    height:62px;
    margin-top:10px
}
.logo-proyecto{
    margin-bottom:14px
}
.info-interior,
.info-area-comun{
    display:inline-block;
    float:left;
    width:125px;
    padding:4px 4px;
    color:#6a6869;
    font-size:14px;
    line-height:12px;
    height:95px;
    margin-bottom:3px
}
.info-interior img,
.info-area-comun img{
    width:40px;
    margin-bottom:6px
}
.info-area-comun{
}
.info-proyecto{
}
.info-proyecto h2{
    font-weight:700;
    margin-bottom:1rem
}
.info-proyecto .miniatura{
    margin-bottom:0;
    height:calc((100%)/ 3)
}
.info-proyecto .miniatura img{
    width:100%;
    height:100%
}
.botones-proyecto{
    margin:22px 0
}
.contenedor-proyectos .borde-0{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.contenedor-proyectos .borde-1{
    border-right:16px solid #00c0ed;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
    border-top-right-radius:8px
}
.contenedor-proyectos .borde-2{
    border-left:16px solid #ffbe2a
}
.contenedor-proyectos .borde-3{
    border-right:16px solid #9f9f9f;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
    border-bottom-right-radius:8px
}
.separador{
    margin-top:1rem
}
select.inputbox{
    background:#FFBE2A;
    border:none;
    padding:6px 30px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    color:#fff;
    font-size:15px
}
input.form-control{
    padding:6px 20px;
    font-size:15px;
    border:0;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px
}
input.boton,
.contenedor-proyectos a.boton{
    background-color:#FFBE2A;
    font-weight:700;
    opacity:1;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    text-decoration:none;
    color:#fff;
    padding:6px 0;
    border-bottom:3px solid #E88D1A;
    width:100%;
    border-top:none;
    border-left:none;
    border-right:none
}
.contenedor-proyectos a.boton{
    display:inline-block;
    width:200px
}
.promo i{
    color:#FFBE2A;
    cursor:pointer
}
.gris{
    opacity:.5
}
footer{
    background-color:#2C2A2B;
    padding-top:2rem;
    padding-bottom:5rem;
    color:rgba(255,255,255,.75)
}
footer img {
    opacity:.75
}
footer .social{
    background-color:#fff;
    width:32px;
    height:32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    color: #2C2A2B;
}
footer a{
    color:#fff
}
.edificio,
.visible{
    display:block
}
.oculto{
    display:none
}
.boton-proyecto img{
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    opacity:.25
}
.boton-proyecto:hover img,
.boton-proyecto.activo img{
    opacity:1
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px){
    ul li:nth-child(3) .box{
        clear:both;
    }

    ul li:nth-child(2n) .box{
        margin-right:0;
        clear:right
    }
}

/* Small monitor */
@media (max-width: 979px){
    nav>a{
        padding: 0 1.5em;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px){
    body{
        padding:0
    }
    nav>a{
        padding: 0 2em;
    }
    h1{
        font-size:20px;
        padding: .5em 0;
    }
    .header-logo,
    .header-right{
        width: 100%;
        text-align: center;
    }
    .menu{
        padding-top:12px
    }
    header{
        padding-top:0;
        position:initial;
        top:initial
    }
    main{
        padding-top:1rem
    }
    .contenedor-proyectos,
    .contenedor-conocenos{
        padding-top:3rem
    }
    .container.menu{
        margin-bottom:0
    }
    .info-proyecto{
        text-align:center
    }
    .info-interior, .info-area-comun{
        margin:0 8px 3px
    }
    .container.formulario{
        padding-left:0;
        padding-right:0
    }
    .contenedor-formulario{
        padding:12px 6px
    }
    .contenedor-menu,
    .logos{
        display:none
    }
    .borde-1,
    .borde-2,
    .borde-3{
        width:100%
    }
    .contenedor-proyectos{
        padding-bottom:0
    }
    .contenedor-conocenos h3{
        margin-top:0
    }
    .edificio,
    .visible{
       display:none
    }
    .oculto{
        display:block
    }
    footer{
        text-align:center
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px){
    nav{
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s ease;
    }
    input[type="checkbox"]:checked + nav{
        height: 205px;
    }
    nav>a{
        padding: 0 1em;
        display: block;
        border-bottom: solid 1px rgba(255,255,255,.1);
    }
    h1{
        padding: .5em 0;
    }
    .header-logo,
    .header-right{
        width: 100%;
        text-align: center;
    }
    .hidden-desktop{
        display: block;
    }
}